.footer__Wrapper {
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding: 2rem 0 1rem 0;
}
.footer__Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__Text {
  color: var(--primary-light);
  font-size: 1.8rem;
  margin-left: 1rem;
  cursor: pointer;
  line-height: 1;
}

.footer__Link {
  cursor: pointer;
  text-decoration: none;
  width: auto;
  display: flex;
  align-items: center;
}

.footer__LeftBlock {
  display: grid;
  gap: 1rem;
}

.footer__RightBlock {
  align-items: center;
  display: flex;
  width: auto;
}
.footer__RightBlock > * {
  margin: 0 1rem;
}

.footer__Bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.footer__Bottom > a {
  text-decoration: none;
  color: inherit;
}
.footer__Address {
  text-align: right;
}

@media screen and (max-width: 740px) {
  .footer__Wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
  .footer__Top {
    display: contents;
  }
  .footer__Address {
    text-align: center;
    font-size: 1.4rem;
  }
  .footer__Bottom {
    flex-direction: column;
    text-align: center;
    padding:0
  }
}
