.footer__Wrapper {
  /* align-items: center; */
  margin-top: auto;
  padding: 2rem 0 1rem 0;
  font-size: 1.4rem;

}
/*  */
/* 
.footer__Wrapper > span {
  justify-content: space-between;
  display: flex;
}
.footer__text {
  color: var(--primary-light);
  font-size: 2rem;
  margin-left: 2rem;
  padding: 1rem 0;
}

.footer__Link {
  cursor: pointer;
  text-decoration: none;
}

.footer__LeftBlock {
  align-items: center;
  display: grid;
  grid-template-areas: ". .";
}

.footer__RightBlock {
  align-items: center;
  display: flex;
  width: auto;
}
.footer__RightBlock > * {
  margin-left: 2rem;
}
*/

@media screen and (max-width: 600px) {
  .footer__Wrapper, .footer__Top {
    flex-direction: column;
  }
  .footer__RightBlock {
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
  }
  .footer__RightBlock > * {
    margin: 0;
  }
} 

.footer__Top {
  display: flex;
  justify-content: space-between;
}
.footer__LeftBlock {
  display: flex;
  align-items: center;
}
.footer__LeftBlock > a {
  text-decoration: none;
  color: var(--primary-light);
}
.footer__Contact {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;

}
.footer__RightBlock {
  display: flex;
  justify-content: space-between;
}
.footer__Bottom {
  padding: 1rem 0;
  text-align: center;
}
