.footer__Wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 2rem 0 1rem 0;
}

.footer__text {
  color: var(--primary-light);
  font-size: 2rem;
  margin-left: 2rem;
  padding: 1rem 0;
}

.footer__Link {
  cursor: pointer;
  text-decoration: none;
}

.footer__LeftBlock {
  align-items: center;
  display: grid;
  grid-template-areas: ". .";
}

.footer__RightBlock {
  align-items: center;
  display: flex;
  width: auto;
}
.footer__RightBlock > * {
  margin-left: 2rem;
}
