.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 3rem 0;
  line-height: 1;
}
.navigation__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--primary-light);
}
.navigation__li {
  transition: all 0.3s;
}
.navigation__li:hover {
  transform: skew(-10deg);
}
.navigation__li > a {
  border-bottom: 2px solid var(--primary-dark);
  color: var(--primary-light);
  font-size: 2rem;
  text-decoration: none;
  line-height: 1;
  transition: all 0.2s;
}
.navigation__li > a:hover {
  border-bottom: 2px solid var(--primary-light);
}
.navigation__li:not(:last-child) {
  padding-right: 2rem;
}

.navigation__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media screen and (max-width: 880px) {
  .navigation__wrapper {
    flex-direction: column;
  }
  .navigation__title {
    flex-direction: row;
    padding-bottom: 2rem;
  }
  .navigation__title > h2 {
    padding: 0 1rem
  }
  .navigation__ul {
    justify-content: center;
  }
  .navigation__li {
    padding-bottom: 2rem;
  }
}
