@media screen and (min-width: 731px) {
  .burger__Wrapper {
    display: none;
  }
}

.burger__Wrapper {
  position: relative;
  z-index: 9;
}

.burger__Wrapper > * {
  transition: all 0.5s;
  text-align: right;
}

.menuOpen {
  background: var(--primary-light);
  display: block;
  font-size: 2rem;
  height: 100vh;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 8;
}

.menuClosed {
  display: none;
  opacity: 1;
}

.burger__Bar {
  transform-origin: 0% 0%;
  height: 0.8rem;
  width: 4rem;
  margin-bottom: 0.5rem;
  background-color: var(--primary-light);
  z-index: 9;
}

.open > .burger__Bar1 {
  background-color: var(--primary-dark);
  transform: rotate(45deg) translate(1px, 2px);
}
.open > .burger__Bar2 {
  background-color: var(--primary-dark);
  transform: translate(30px, 5%);
  opacity: 0;
}
.open > .burger__Bar3 {
  background-color: var(--primary-dark);
  transform-origin: 0% 100%;
  transform: rotate(-45deg) translate(-2px, 1px);
}
.burger__Li {
  transition: all 0.3s;
}
.burger__Li:hover + a  {
  transform: skew(-10deg);
}
.burger__Li > a {
  border-bottom: 0.4rem solid var(--primary-light);
  color: var(--primary-dark);
  display: inline-block;
  font-size: 4rem;
  text-decoration: none;
  line-height: 1;
  margin-bottom: 3rem;
  transition: all 0.2s;
}
.burger__Li > a:hover {
  border-color: var(--primary-dark);
  transform: skew(-10deg);
}
